name: "CI"

on: push

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v6
      - run: uv sync --frozen --dev
      - name: Run tests
        run: |
          uv run pytest -v tests/
